AddDefaultCharset UTF-8

RewriteEngine on

# Если директория или файл существуют, использовать напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-dl,oca

# В остальных случаях переходить на index.php
RewriteRule . index.php

# Убираем двойные слеши
RewriteCond %{REQUEST_METHOD}  !=POST
RewriteCond %{REQUEST_URI} ^(.*?)(/{2,})(.*)$
RewriteRule . %1/%3 [R=301,L]